<%= form_for(@photo, url: create_photo_path) do |f| %>

  <% if @photo.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@photo.errors.count, "error") %> prohibited this photo from being saved:</h2>

      <ul>
      <% @photo.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<div class="box">
<h1 class="box">New Photo</h1>
  <div class="field row first">
    <%= f.label "Description", class:"col-xs-1 col-sm-1 col-md-1 col-xs-offset-3 col-sm-offset-3 col-md-offset-4" %>
    <%= f.text_field :description, class:"col-xs-6 col-sm-4 col-md-2 entry", autofocus: true, autocomplete: "off" %>
  </div>
  <div class="field row last">
    <%= f.file_field :avatar, class: "col-xs-6 col-sm-4 col-md-2 col-xs-offset-4 col-sm-offset-4 col-md-offset-5" %>
  </div>
  <!-- hidden field to add relationship between album and pet -->
  <div class="field">
    <%= f.hidden_field :album_id, :value => @album_id %>
  </div>

  <div class="actions row last">
    <%= f.submit "Save", class: "button"%>
  </div>
</div>

<% end %>