<div class="container-fluid box">
	<header>
		<p><%= @photo.description %></p>
	</header>
	<div class="pet last">
		<%= link_to "Edit", edit_photo_path(@pet_id, @album_id, @photo.id) %><br>
		<%= link_to "Delete", photo_path(@pet_id, @album_id, @photo.id), :method => :delete %><br>
		<%= link_to "Album", album_path(@pet_id, @photo.album_id) %><br>
		<%= image_tag @photo.avatar_url.to_s %>
	</div>
</div>
