<%= form_for(@album, url: update_album_path) do |f| %>

  <% if @album.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@album.errors.count, "error") %> prohibited this album from being saved:</h2>

      <ul>
      <% @album.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<div class="box">
<h1 class="box">Edit Album</h1>
  <div class="field row first">
    <%= f.label "Title", class:"col-xs-1 col-sm-1 col-md-1 col-xs-offset-3 col-sm-offset-3 col-md-offset-4" %>
    <%= f.text_field :title, class:"col-xs-6 col-sm-4 col-md-2 entry", autofocus: true, autocomplete: "off" %>
  </div>
  <div class="field row">
    <%= f.label "Description", class:"col-xs-1 col-sm-1 col-md-1 col-xs-offset-3 col-sm-offset-3 col-md-offset-4" %>
    <%= f.text_field :description, class:"col-xs-6 col-sm-4 col-md-2 entry", autocomplete: "off" %>
  </div>

  <div class="actions row last">
    <%= f.submit "Save", class: "button"%>
  </div>
</div>

<% end %>