<h1>Edit</h1>
<%= form_for(@pet, url: update_pet_path) do |f| %>

  <% if @pet.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@pet.errors.count, "error") %> prohibited this pet from being saved:</h2>

      <ul>
      <% @pet.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field row first">
    <%= f.label "Name", class:"col-xs-1 col-sm-1 col-md-1 col-xs-offset-3 col-sm-offset-3 col-md-offset-4" %>
    <%= f.text_field :name, class:"col-xs-6 col-sm-4 col-md-2 entry", autofocus: true, autocomplete: "off" %>
  </div>
  <div class="field row">
    <%= f.label "Gender", class:"col-xs-1 col-sm-1 col-md-1 col-xs-offset-3 col-sm-offset-3 col-md-offset-4" %>
    <%= f.text_field :gender, class:"col-xs-6 col-sm-4 col-md-2 entry", autocomplete: "off" %>
  </div>
  <div class="field row">
    <%= f.label "Breed", class:"col-xs-1 col-sm-1 col-md-1 col-xs-offset-3 col-sm-offset-3 col-md-offset-4" %>
    <%= f.text_field :breed, class:"col-xs-6 col-sm-4 col-md-2 entry", autocomplete: "off" %>
  </div>
  <div class="field row">
    <%= f.label "Bio", class:"col-xs-1 col-sm-1 col-md-1 col-xs-offset-3 col-sm-offset-3 col-md-offset-4" %>
    <%= f.text_field :bio, class:"col-xs-6 col-sm-4 col-md-2 entry", autocomplete: "off" %>
  </div>

  <div class="actions row last">
    <%= f.submit "Save", class:"button" %>
  </div>

<% end %>